#container
{
    margin: 0 auto;
    width: 100%;
    background: #fff;
}

#header
{
    background: #ccc;
    padding: 20px;
}

#header h1,
#header h2
{
    margin: 0 0 0.2em 0;
    text-align:center;
}

#navigation
{
    float: left;
    width: 100%;
    background: #333;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
    float: left;
    width: 100%;
    background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 0;
}

#content
{
    clear: left;
    float: left;
    width: 60%;
    padding: 20px 0;
    margin: 0 0 0 4%;
    display: inline;
}

#content h2 { margin: 0; }

#aside
{
    float: right;
    width: 26%;
    padding: 20px 0;
    margin: 0 3% 0 0;
    display: inline;
}

#aside h3 { margin: 0; }

#news {
    /* IE10 */ 
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FFFF00 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFFF00 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FFFF00 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FFFF00));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFFF00 100%);
    /* Proposed Standard */
    background-image: linear-gradient(bottom, #FFFFFF 0%, #FFFF00 100%);
    color: #ff6a1a;
    padding: 0.2em;
}

#footer
{
    clear: left;
    background: #ccc;
    text-align: center;
    padding: 20px;
    height: 1%;
}
